<%- include('partials/head.ejs') %>

  <body
    class="background"
    style="
      --background-image: url('https://image.tmdb.org/t/p/original/<%= movie.backdrop_path %>');
    "
  >
<%- include('partials/nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="center">
          <h1 class="home-title"><%= movie.title %></h1>
          <h4 class="movie-tagline">"<%= movie.tagline %>"</h4>
          <% const date = new Date(movie.release_date);
          const formattedDate = date.toLocaleString("en-US", {
             month: "short",
             day: "numeric",
             year: "numeric"
          });%>
          <h6 class="movie-info">Released on: <%= formattedDate %>, <%= movie.genres[0].name %></h6>
          <div class="poster-container">
            <a href="" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#trailerModal">
            <img
              class="poster"
              src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>"
              alt=""
            />
          </a>
          </div>
          <br />
          <p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trailerModal">Watch Trailer</button>
          </p>
          <br />
          <h6 class="movie-overview"><%= movie.overview %></h6>
        </div>
        <br />
      </div>
      <div class="row center">
        <p class="star-text">Your review:</p>
        <div class="stars">
          <a
            href="/details/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=1"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/details/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=2"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/details/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=3"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/details/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=4"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/details/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=5"
            ><i class="ratingStars far fa-star"></i
          ></a>
        </div>
        <br />
        <!-- prettier-ignore -->
        <% const numberOfRatings = ratings.length;
        let ratingsSum = 0;
        ratings.forEach ((rating) => { 
          let ratingNum = parseInt(rating.rating)
          ratingsSum = ratingsSum + ratingNum
        }) %>
        <% ratingsSum = ratingsSum / numberOfRatings %>
        <div>
          <p class="star-text">Average reviews:</p>
          <% if(ratingsSum === 5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 4.5 && ratingsSum < 5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
          </p>
          <% } else if(ratingsSum >= 4 && ratingsSum < 4.5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 3.5 && ratingsSum < 4) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 3 && ratingsSum < 3.5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 2.5 && ratingsSum < 3) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 2 && ratingsSum < 2.5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 1.5 && ratingsSum < 2) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum < 1.5) { %>
          <p class="stars">
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else { %>
            <p class="movie-overview">No reviews for this movie yet</p>
          <% }%>
        </div>
      </div>
      <%- include('partials/comments.ejs') %>
    </div>

    <div class="modal" id="trailerModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= movie.title %></h5>
            <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="1105" height="600" id="ytPlayer" allow="accelerometer; autoplay;"
            <% let loop = true %>
            <% videos.results.forEach((video) => { %>
              <% if(video.type === "Trailer") { %>
                src="https://www.youtube.com/embed/<%= video.key %>">
                <% loop = false %>
              <% }}); if(loop) { %>
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
                <% } %>
            </iframe>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  const modal = document.getElementById("trailerModal")
$('#trailerModal').on('hidden.bs.modal', function () {
    modal.dispose()
});
</script>
  </body>
</html>
