<%- include('partials/head.ejs') %>

  <body
    class="background"
    style="
      --background-image: url('https://image.tmdb.org/t/p/original/<%= movie.backdrop_path %>');
    "
  >
<%- include('partials/nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="center">
          <h1 class="home-title"><%= movie.title %></h1>
          <h4><%= movie.tagline %></h4>
          <h6><%= movie.genre %></h6>
          <h6><%= new Date(movie.release_date) %></h6>
          <div class="poster-container">
            <img
              class="poster"
              src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>"
              alt=""
            />
          </div>
          <br />
          <h6><%= movie.overview %></h6>
        </div>
      </div>
      <div class="row center">
        <div>
          <a
            href="/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=1"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=2"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=3"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=4"
            ><i class="ratingStars far fa-star"></i
          ></a>
          <a
            href="/add_rating?id=<%= movie.id %>&release_date=<%= movie.release_date %>&value=5"
            ><i class="ratingStars far fa-star"></i
          ></a>
        </div>
        <!-- prettier-ignore -->
        <% const numberOfRatings = ratings.length;
        let ratingsSum = 0;
        ratings.forEach ((rating) => { 
          let ratingNum = parseInt(rating.rating)
          ratingsSum = ratingsSum + ratingNum
        }) %>
        <% ratingsSum = ratingsSum / numberOfRatings %>
        <div>
          <% if(ratingsSum === 5) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 4.5 && ratingsSum < 5) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
          </p>
          <% } else if(ratingsSum >= 4 && ratingsSum < 4.5) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 3.5 && ratingsSum < 4) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 3 && ratingsSum < 3.5) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 2.5 && ratingsSum < 3) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 2 && ratingsSum < 2.5) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else if(ratingsSum >= 1.5 && ratingsSum < 2) { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars fas fa-star-half"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% } else { %>
          <p>
            <i class="ratingStars fas fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
            <i class="ratingStars far fa-star"></i>
          </p>
          <% }%>
        </div>
      </div>
      <div class="row center">
        <div>
          <a
            href="/add_comment?id=<%= movie.id  %>&release_date=<%= movie.release_date%>"
            type="button"
            class="btn btn-primary"
            >Add Comment</a
          >
        </div>
      </div>
      <%- include('partials/comments.ejs') %>
    </div>
  </body>
</html>
